body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 200px;
  background-color: rgb(243, 164, 156);
}

h1 {
  margin: 0px 0px 50px 0px;
}

#cookiesales {
  align-content: left;
}

#cookielogo {
  float: left;
  width: 200px;
  margin: 25px 0px 0px 25px;
}

#buzname01 {
  font-size: 3em;
  font-family: 'Berkshire Swash', cursive;
  float: left;
  width: 700px;
  margin: 25px 500px 0px 25px;
}

#buzname02 {
  font-size: 4em;
  font-family: 'Berkshire Swash', cursive;
  float: left;
  width: 700px;
  margin: 0px 500px 0px 25px;
}

nav {
  float: left;
  width: 700px;
  margin: 25px 0px 0px 35px;
  text-decoration: none;

}

.nav li {
  display: inline;
  margin: 50px 10px 0px 0px;
  font-weight: bold;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}


ul {
  list-style-type: none;
}

input {
  background-color: white;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  text-align: left;
  padding: 10px;
}

thead,
tfoot,
th {
  font-weight: bold;
}

fieldset {
  border: 1px solid black;
  margin: 25px 300px 0px 0px;
  padding: 0.35em 0.625em 0.75em;
}

.button {
  background-color: gray;
  color: white;
  height: 50px;
  width: 100px;
  font-size: 1em;
  border-radius: 10px;
  margin: 20px 0px 20px 0px;
}

.button:hover {
  background-color: white;
  color: gray;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
}

footer {
  height: 200px;
  background-color: rgb(243, 164, 156);
}

#locations {
  float: left;
  width: 450px;
  margin: 25px 0px 50px 25px;
  line-height: 1.5em;
}

#hours {
  float: left;
  width: 300px;
  margin: 25px 0px 50px 0px;
  line-height: 1.5em;

}

#contact {
  float: left;
  width: 300px;
  margin: 25px 0px 50px 0px;
  line-height: 1.5em;

}