* {
  margin: 50px 0px 0px 50px;
  list-style-position: inside;
  background-color: rgb(243, 164, 156);
}

h1 {
  size: 2em;
}

img {
  float: left;
}

ul {
  list-style-type: square;
}

.nav li {
  display: inline;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  text-align: left; 
}
